<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://github.com/PashaBritva/SLAYBOT"> <b>SLAYBOT</b> Version 2.1.0</a>
  </div>
  <strong>SLAYBOT <a href="https://discord.gg/6D5ZpJy4Eg">Server</a>.</strong
  >
</footer>
